<%- include('partials/header') %>
    <div class="message container">
        <h1><%= title %></h1>
        <h2><%= description %></h2>
        <a class="collection__link" href="<%= href.route %>"><%= href.text %></a>
    </div>
<%- include('partials/footer') %>